<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Тестове по Биология</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <div id="box">

        <!--Navigation-->
        <header>
            <nav>
                <img src="./images/headphones.png">
                <a href="#">Начало</a>
                <ul>
                    <!--Only guest-->
                    <li><a href="#">Влизане</a></li>
                    <li><a href="#">Регистрация</a></li>
                </ul>
            </nav>
        </header>

        <main id="main-content">
            <section id="welcomePage">
                <div id="welcome-message">
                    <h1>Добре дошли в</h1>
                    <h1>БиоТест</h1>
                </div>

                <div id="bonusMessage">
                    <p>Най-добрите тестове по Биология!</p>
                </div>
                
                <a href="#">
                    <button class="greenBtn">Към Тестовете</button>
                </a>
                
                <img id="dnaImage" src="images/dna.png" alt="">
            </section>
        </main>

        <footer>
            <div>
                &copy;Biotest 2022. All rights reserved.
            </div>
        </footer>
</body>
</html>