<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тестове по Биология</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <div id="box">

        <header>
            <nav>
                <img src="./images/logo.png">
                <a id='home' href="#">Начало</a>
        
                <ul>
                    <li><a href="#">Влизане</a></li>
                    <li><a href="#">Регистрация</a></li>
                </ul>
        
                <div class="dropdown">
                    <span>Меню</span>
                    <div class="dropdown-content">
                        <a href="#">Начало</a>
                        <a href="#">Влизане</a>
                        <a href="#">Регистрация</a>
                    </div>
                </div>
            </nav>
        </header>

        <main id="profilePage">

            <section id="profileData">
                <img id="profileImage" src="./images/profile_image.jpg" alt="Профилна снимка">
                <img id="rankImageSmall" src="./images/seaHorseRankImage.png" alt="Снимка на ранка">
                
                <div id="infoBox">
                    <span class="infoRow">
                        <h2>Потребителско име: <i>SomeFancyUsername23</i></h2>
                    </span>
    
                    <span class="infoRow">
                        <h2>Имейл: <i>someemail34@domain.com</i></h2>
                    </span>
    
                    <span class="infoRow">
                        <h2>Ниво: <i>99</i></h2>
                    </span>

                    <span class="infoRow">
                        <h2>Ранк: <i>Морско конче</i></h2>
                    </span>

                    <div id="progressData">
                        <div id="xpStats">
                            <p>0 xp</p>
                            <p>1000 xp</p>
                        </div>
    
                        <div id="barContainer">
                            <div id="barFill" style="width:25%">250 xp</div>
                        </div>
                    </div>
                </div>

                <img id="rankImageBig" src="./images/seaHorseRankImage.png" alt="Снимка на ранка">
            </section>

            <section id="solvedTests">
                <div class="text-box" style="padding-top: 20px;">
                    <div>
                        <p class="name">Еволюция на Шантави риби с готини адаптации</p>
                    </div>
                    <p class="points">59 / 60</p>
                </div>

                <div class="text-box" style="padding-top: 20px;">
                    <div>
                        <p class="name">Еволюция на Шантави риби с готини адаптации</p>
                    </div>
                    <p class="points">59 / 60</p>
                </div>

                <div class="text-box" style="padding-top: 20px;">
                    <div>
                        <p class="name">Еволюция на Шантави риби с готини адаптации</p>
                    </div>
                    <p class="points">59 / 60</p>
                </div>

                <div class="text-box" style="padding-top: 20px;">
                    <div>
                        <p class="name">Еволюция на Шантави риби с готини адаптации</p>
                    </div>
                    <p class="points">59 / 60</p>
                </div>

                <div class="text-box" style="padding-top: 20px;">
                    <div>
                        <p class="name">Еволюция на Шантави риби с готини адаптации</p>
                    </div>
                    <p class="points">59 / 60</p>
                </div>

                <div class="text-box" style="padding-top: 20px;">
                    <div>
                        <p class="name">Еволюция на Шантави риби с готини адаптации</p>
                    </div>
                    <p class="points">59 / 60</p>
                </div>

                <div class="text-box" style="padding-top: 20px;">
                    <div>
                        <p class="name">Еволюция на Шантави риби с готини адаптации</p>
                    </div>
                    <p class="points">59 / 60</p>
                </div>
            </section>
        </main>

        <footer>
            <div>
                &copy;Biotest 2022. All rights reserved.
            </div>
        </footer>
    <div>
</body>
</html>