<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тестове по Биология</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <div id="box">

        <header>
            <nav>
                <img src="./images/logo.png">
                <a href="#">Начало</a>
                <ul>
                    <li><a href="#">Влизане</a></li>
                    <li><a href="#">Регистрация</a></li>
                </ul>
            </nav>
        </header>

        <main id="main-content">
            <section id="topicContentPage">
                <h1>Заглавие на темата</h1>

                <div id="searchBar">
                    <input type="text" name="search" id="search" placeholder="Потърсете тест">
                    <button id="searchBtn" class="greenBtn">Търси</button>    
                </div>

                <div class="text-box" style="padding-top: 40px;">
                    <div>
                        <div class="text-center">
                            <p><a href="#" class="name">Еволюция</a></p>
                        </div>
                    </div>
                </div>
                <div class="text-box" style="padding-top: 40px;">
                    <div>
                        <div class="text-center">
                            <p><a href="#" class="name">Клетъчна Биология</a></p>
                        </div>
                    </div>
                </div>
                <div class="text-box" style="padding-top: 40px;">
                    <div>
                        <div class="text-center">
                            <p><a href="#" class="name">Биохимия</a></p>
                        </div>
                    </div>
                </div>
                <div class="text-box" style="padding-top: 0px;">
                    <div>
                        <div class="text-center">
                            <p><a href="#" class="name">Клетъчна Биология</a></p>
                            <p><a href="#" class="name">и още нещо и още нещо</a></p>
                            <p><a href="#" class="name">още нещо и още нещо</a></p>
                        </div>
                    </div>
                </div>
                <div class="text-box" style="padding-top: 20px;">
                    <div>
                        <div class="text-center">
                            <p><a href="#" class="name">Клетъчна Биология</a></p>
                            <p><a href="#" class="name">и още нещо и още нещо</a></p>
                        </div>
                    </div>
                </div>
                <div class="text-box" style="padding-top: 20px;">
                    <div>
                        <div class="text-center">
                            <p><a href="#" class="name">Клетъчна Биология</a></p>
                            <p><a href="#" class="name">и още нещо и още нещо</a></p>
                        </div>
                    </div>
                </div>
                <div class="text-box" style="padding-top: 20px;">
                    <div>
                        <div class="text-center">
                            <p><a href="#" class="name">Клетъчна Биология</a></p>
                            <p><a href="#" class="name">още нещо и още нещо</a></p>
                        </div>
                    </div>
                </div>
                <div class="text-box" style="padding-top: 40px;">
                    <div>
                        <div class="text-center">
                            <p><a href="#" class="name">Еволюция</a></p>
                        </div>
                    </div>
                </div>
                <div class="text-box" style="padding-top: 40px;">
                    <div>
                        <div class="text-center">
                            <p><a href="#" class="name">Клетъчна Биология</a></p>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <div>
                &copy;Biotest 2022. All rights reserved.
            </div>
        </footer>
</body>
</html>