body {
    background-image: url('../images/back.jpg');
    background-size: cover;
    background-color: #0B0C10;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav,
footer {
    background-color: #0B0C10;
    width: 100%;
    display: flex;
    font-size: 16px;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    padding: 0 5px 0 3px;
    margin: 0%;
    color: white;
}

footer {
    bottom: 0;
}

nav a {
    text-decoration: none;
    color: #8f8f8f;
    font-size: 20px;
    font-weight: bolder;
    position: relative;
    margin: 20px;
}

nav ul {
    margin: 0 0 0 auto;
}

nav ul li {
    display: inline;
    margin: 10 10px;
}

li::before {
    display: inline;
}

nav a {
    text-decoration: none;
    border-radius: 50%;
    padding: 0.5em;
    color: white;
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 15px;
    text-align: center;
    color: #c5c6c7;
    font-weight: bold;
}

nav a:hover {
    cursor: pointer;
    color: #00f387;
    font-weight: bolder;
}

#welcomePage {
    padding: 70px;
    margin: 10px;
}

#welcome-message {
    color: white;
    font-size: 36px;
}

#bonusMessage {
    color: #4f4a69;    ;
    font-size: 20px;
}

#welcomePage img {
    width: 40%
}

nav > img {
    width: 90px;
    height: 80px;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

@media screen and (max-width: 1025px) {
    #dnaImage {
        visibility: hidden;
        display: none;
    }
  }

#dnaImage {
    position: absolute;
    top: 120px;
    right: 60px;
}

.whiteBtn {
    margin-top: 20px;
    border-radius: 24px;
    background-color: white;
    border: none;
    font-family: 'Helvetica', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #0B0C10;
    width: 300px;
    height: 70px;
}

.whiteBtn:hover {
    box-shadow: #00f387 -1px 1px, #00f387 -2px 2px, #00f387 -3px 3px, #00f387 -4px 4px,#00f387 -5px 5px, #00f387 -6px 6px;
    transform: translate3d(6px, -6px, 0);
    
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

.greenBtn {
    margin-top: 50px;
    border-radius: 24px;
    background-color: #00f387;
    border: none;
    font-family: 'Helvetica', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #0B0C10;
    width: 300px;
    height: 70px;
}

.greenBtn:hover {
    box-shadow: white -1px 1px, white -2px 2px, white -3px 3px, white -4px 4px,white -5px 5px, white -6px 6px;
    transform: translate3d(6px, -6px, 0);
    
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}