body {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    position: absolute;
    width: 100%;
    height: 10vh;
    left: 0;
    top: 0;
    padding: 15px;
    text-align: center;
    color: #c5c6c7;
    font-weight: bold;
    font-size: 1.5rem;
}

nav span {
    display: none;
    margin-right: 18vh;
}

#home {
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0B0C10;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

@media (max-width: 1000px) {
    nav span {display: inline-block;}
    nav ul { display: none; }
    
    .dropdown { display: inline-block; }

    #home { display: none; }
}

nav,
footer {
    background-color: #0B0C10;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    margin: 0%;
    color: white;
}

nav ul {
    margin: 0 0 0 auto;
}

nav ul li {
    display: inline;
    margin: 0 2px;
}

li::before {
    display: inline;
}

nav a {
    text-decoration: none;
    border-radius: 50%;
    padding: 0.5em;
    color: white;
    font-weight: bolder;
    position: relative;
    margin: 20px;
}

footer {
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 15px;
    text-align: center;
    color: #c5c6c7;
    font-weight: bold;
}

nav a:hover {
    cursor: pointer;
    color: #00f387;
    font-weight: bolder;
}

#welcomePage {
    padding: 20vh 0vw 0vh 4vw;
    margin: 10px;
}

#welcome-message {
    color: white;
    font-size: 36px;
}

#bonusMessage {
    color: #4f4a69;
    font-size: 20px;
}

nav img {
    width: 14vh;
    height: 10vh;
    left: 5px;
    margin-top: 0px;
    margin-right: 40px;
}

@media screen and (max-width: 1000px) {
    #dnaImage {
        visibility: hidden;
        display: none;
    }
}

#dnaImage {
    position: absolute;
    width: 25vw;
    top: 23vh;
    right: 15vw;
}

.whiteBtn {
    margin-top: 20px;
    border-radius: 24px;
    background-color: white;
    border: none;
    font-family: 'Helvetica', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #0B0C10;
    width: 300px;
    height: 70px;
}

.whiteBtn:hover {
    box-shadow: #00f387 -1px 1px, #00f387 -2px 2px, #00f387 -3px 3px, #00f387 -4px 4px,#00f387 -5px 5px, #00f387 -6px 6px;
    transform: translate3d(6px, -6px, 0);
    
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

.greenBtn {
    margin-top: 50px;
    border-radius: 24px;
    background-color: #00f387;
    border: none;
    font-family: 'Helvetica', sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #0B0C10;
    width: 300px;
    height: 70px;
}

.greenBtn:hover {
    box-shadow: white -1px 1px, white -2px 2px, white -3px 3px, white -4px 4px,white -5px 5px, white -6px 6px;
    transform: translate3d(6px, -6px, 0);
    
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

