fieldset {
    margin: 1em auto;
    padding: 2em;
    width: 10vw;
    border-radius: 30px;
    border-color: #2d333b;
    background: #1b1f24;
    box-shadow: 0 2px 2px #131518;
}

form {
    margin-top: 10vh;
}

fieldset legend {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    text-align: center;
    background: #171a1e;
    -o-border-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #2d333b 50%) 1 round;
    border-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #2d333b 50%) 1 round;
    border-width: 1px;
    border-style: solid;
    border-radius: 30px;
    display: block;
    width: 70vw;
    margin: 0 auto;
}

input, input + label > i {
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid #384049;
    background: #15171b;
    display: block;
    width: 100%;
    color: white;
    transition: all 0.3s ease;
}

input[type=text], input[type=password] {
    font-size: 1.2em;
    line-height: 1;
    padding: 0.3em 0.4em;
    margin: 0 0.5em 1em 0;
}

input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder {
    color: #343b44;
    line-height: 1.2;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#email:hover, input[type=password]:hover {
    border-color: #39a086;
}

input[type=text]:focus, input[type=password]:focus {
    outline: none;
    border-color: #39a086;
}

.login, .register {
	width: 150px;
	height: 50px;
	cursor: pointer;
	border: none;
    border-radius: 24px;
	background-color: #00f387;
	transition: 500ms;
    color: white;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: 20px;
    margin: auto;
}

.register:hover, .login:hover {
    box-shadow: white -1px 1px, white -2px 2px, white -3px 3px, white -4px 4px, white -5px 5px, white -6px 6px;
    transform: translate3d(6px, -6px, 0);
    
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

#loginPage, #registerPage {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    font-size: 16px;
    color: #aab2bd;
    padding: 5em 0 10em;
}

fieldset:hover {
    box-shadow: 0px 0px 30px 0px #00f387;
}

.vhide {
    opacity: 0;
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

p{
    padding-top: 20px;
}
