#main-content {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.question-box {
    box-shadow: 0px 0px 30px 0px #00f387;
    margin-bottom: 50px;
    margin-top: 30px;
    box-sizing: border-box;
    border-radius: 15px;
    height: auto;
    width: auto;
    float: left;
    display: block;
    color: white;
    font-family: Helvetica, sans-serif;
    -ms-text-size-adjust: auto;
}

.question {
    font-size: 2vw;
    font-weight: bold;
    padding-left: 3%;
    text-align: left;
}

.answers {
    font-size: 1vw;
    margin-bottom: 2%;
}

.answer {
    margin-bottom: 10px;
}

label {
    margin: 5px 0px;
}

input[type="radio"] {
    margin-left: 2%;
    margin-bottom: 2%;
    height: 1vw;
    width: 2vw;
    display: inline;
}

.question-box:hover {
    box-shadow: 0px 0px 70px 0px #00f387;
}

#allQuestionsPage h1{
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 4vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 5px 2px black;
    margin-top: 170px;
}

a {
    color: inherit;
    text-decoration: none;
}

#passOn {
    height: 4vw;
    width: 16vw;
    margin-bottom: 50px;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2vw;
}

@media screen and (max-width: 450px) {
    main {
        margin-left: 10%;
        margin-right: 10%;
    }

    .question {
        font-size: 3vw;
    }

    .answers {
        font-size: 2vw;
    }

    #passOn {
        height: 8vw;
        width: 32vw;
        font-size: 3vw;
    }
}